<div id="WORKS" class="container main-body hide">
    <div class="row">
        <div class="col-12 ease-in">
            <h1 class=" ease-in">HOW VERY LIKE KING ARTHUR...</h1>
        </div>

        <div class="col-6 ease-in">
            <div class="buttons ease-in">
                <p>Here is a selection of my web development and other creative works.</p>
                <p>Additional assets, fonts, and code are available on my GitHub.</p>
            </div>
        </div>

        <div class="col-3 buttons ease-in">
                <h3>DEVELOPMENT</h3>
                <ul class="tree">
                    <li>ROLL!</li>
                    <li>Poke Checker</li>
                </ul>
            <!-- </div>
            <div class="col-3 buttons ease-in"> -->
                <h3>WRITING</h3>
                <ul class="tree">
                    <li>Plant 300!</li>
                    <li>B12</li>
                    <li>Best Delegate</li>
                </ul>
            </div>
        </div>


<!-- 
        <% if (locals.data) { %>
            <% for (let i=0; i < data.length; i++) { %>

                <div class="col-6 works-card ease-in">
                    <div class="works-header">
                        <h3 class="works-text center">- <%= data[i].title %> -</h3>
                    </div>

                    <div class="works-body center"> <img class="works-img" src=<%=data[i].thumbnail %> alt="">
                    </div>
                    <div class="works-footer">
                        <p class="works-text">
                            <%= data[i].description %>.
                                <% if (data[i].tags.includes("writing")) { %>
                                    <a id="<%=data[i].modal %>" class="works-link modal-open"><img class="open-arrow"
                                            src="assets/open_arrow.png"></a>
                                    <% } else { %>
                                        <a href="<%= data[i].endpoint %>" class="works-link" target="_blank"><img
                                                class="open-arrow" src="assets/open_arrow.png"></a>
                                        <% } %>
                        </p>
                        <ul class="works-tag">
                            <% for (let a=0; a < data[i].tags.length; a++) { %>
                                <li class="works-tag">
                                    +<%= data[i].tags[a] %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>
                <% } %>
                    <% } %>

                        <% if (locals.data) { %>
                            <% for (let i=0; i < data.length; i++) { %>
                                <% if (data[i].tags.includes("writing")) { %>

                                    <div id="<%= data[i].modal  %>modal" class="modal">
                                        <div class="swiper mySwiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"><img
                                                        src="assets/<%= data[i].modal  %>/<%= data[i].modal  %>cover.png"
                                                        alt=""></div>
                                                <div class="swiper-slide"><img
                                                        src="assets/<%= data[i].modal  %>/<%= data[i].modal  %>plate.png"
                                                        alt=""></div>
                                                <% for (let q=1; q<data[i].spread.length -2; q++) { %>
                                                    <div class="swiper-slide"><img
                                                            src="assets/<%= data[i].modal  %>/<%= data[i].modal  %>_<%= q %>.png"
                                                            alt=""></div>
                                                    <% } %>
                                                        <div class="swiper-slide"><img
                                                                src="assets/<%= data[i].modal  %>/<%= data[i].modal  %>backcover.png"
                                                                alt=""></div>

                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                        <div class="row center">
                                            <div class="modal-close">
                                                <p>CLOSE</p>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <% } %>
    </div> -->
</div>